<div class="row">
  <div class="col-6">
    <h3>市场</h3>
  </div>
  <div class="col-6">
    <% if can? :manage, Market %>
      <%= link_to raw("<i class='fa fa-plus mr-2'></i> 新建交易对"), new_admin_market_path, class: "btn btn-primary float-right mb-3" %>
    <% end %>
  </div>
</div>

<div class="card">
  <% if can? :read, Market %>
    <%= table_for @markets, class: 'table table-bordered table-striped' do |t| %>
      <% t.column :name, '名称', class: 'col-xs-2' %>

      <% t.column '最小数量', class: 'col-xs-2' do |x| %>
        <%= x.min_amount %>
      <% end %>

      <% t.column '建立时间', class: 'col-xs-3' do |x| %>
        <%= l(x.created_at, format: :long) %>
      <% end %>

      <% t.column '状态', class: 'col-xs-2' do |x| %>
        <%= x.state.capitalize %>
      <% end %>

      <% t.column '操作', class: 'col-xs-1' do |x| %>
        <%= link_to 'View', admin_market_path(x) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= paginate @markets %>
